.registration-form {
    width: 400px;
    margin: auto;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin-top: 200px;
}

.has-account {
    margin: 5px 0;
    color: cornflowerblue;
    cursor: pointer;
    display: inline;
    width: 140px;
}

.has-account:hover {
    text-decoration: underline;
}